---
title: 心经
---

<%= partial 'layouts/shared/xj' %>

<div class="welcome">
  <div class='content'>
  <%=image_tag("xj.png")%>
  </div>


</div><!-- .welcome -->
<div id="botton_bar">
  <%= partial 'layouts/shared/playmp3' %>
</div>
